
<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
		  <div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
			  <span class="sr-only">Toggle navigation</span>
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="home.html"> <img src="assets/doc/img/header/Logo SVG-09.svg" height="100%"> </a>
		  </div>
		  <div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<li>
				  <a href="home.html"> <!--img src="doc/img/header/Logo SVG-10.svg" height="25px"-->
					<svg version="1.1" height="25" width="25" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					   viewBox="0 0 160 160" style="enable-background:new 0 0 160 160;" xml:space="preserve">
					<g id="home_7_">
					  <polygon class="ico-home" points="67,152 67,109 94,109 94,152 132,152 132,84 152.3,84 80,7.5 7.7,84 31,84 31,152 		"/>
					</g>
					</svg>
				  </a>
				</li>
				<li>
				  <a href="#" style='pointer-events: none; cursor: default; opacity: 0.25;' onclick='return false;'> <!--img src="doc/img/header/Logo SVG-12.svg" height="25px"-->
					<svg version="1.1" height="25" width="25" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					   viewBox="0 0 160 160" style="enable-background:new 0 0 160 160;" xml:space="preserve">
					<polygon class="ico-fav" points="80,7.7 102.3,55.3 152.3,62.9 116.1,100 124.7,152.3 80,127.6 35.3,152.3 43.9,100 7.7,62.9 57.7,55.3
					  "/>
					</svg>
				  </a>
				</li>
				<li>
				  <a href="mailto:planeacioncomercial@mx.nestle.com?subject=Contacto Nesbook!&X-Mailer=Hola&body=Mi solicitud es:%0D%0ANombre:%0D%0ATexto:">
					<div class="ico-help"></div>
				  </a>
				</li>
				<li>
				  <a href="tutoriales.html"> <!--img src="doc/img/header/tutoriales.svg" height="25px"-->
					<svg version="1.1" height="25" width="25" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					   viewBox="0 0 160 160" style="enable-background:new 0 0 160 160;" xml:space="preserve">
					<g id="book">
						<path class="ico-tutoriales" d="M123.7,152.8c8,0,14.6-6.6,14.6-14.6V21.7c0-8-6.6-14.6-14.6-14.6H80v51L61.8,47.2l-18.2,11v-51h-7.3
						  c-8,0-14.6,6.6-14.6,14.6v116.5c0,8,6.6,14.6,14.6,14.6h87.4V152.8z"/>
					</g>
					</svg>
				  </a></li>
				<!--Menú-->
			  <li class="dropdown" style="margin-right: 20px;">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
				  <span class="menu-header"></span>
				</a>
				<div class="dropdown-menu dropdown-content" style="width: 180px; right: -12px; top: 40px;">
				  <div>
					<ul class="dropdown-content-body">
					  <li class="media">
						<div class="media-annotation">
						  <a href="portafolio.html"><div class="media-annotation" style="color: #062F59">Portafolio</div></a>
						</div>
					  </li>
					  <li class="divider"></li>
					  <li class="media">
						<a href="lista-de-precios.html"><div class="media-annotation" style="color: #062F59">Lista de precios</div></a>
					  </li>
					  <li class="divider"></li>
					  <li class="media">
						<div class="media-body">
						  <a href="precio-promocional.html"><div class="media-annotation" style="color: #062F59">Precio promocional</div></a>
						</div>
					  </li>
					  <li class="divider"></li>
					  <li class="media">
						<div class="media-body">
						  <a href="inversion.html"><div class="media-annotation" style="color: #062F59">Inversión</div></a>
						</div>
					  </li>
					  <li class="divider"></li>
					  <li class="media">
						<div class="media-body">
						  <a href="catlead.html"><div class="media-annotation" style="color: #062F59">CatLead</div></a>
						</div>
					  </li>
					  <li class="divider"></li>
					  <li class="media">
						<div class="media-body">
						  <a href="shopper.html"><div class="media-annotation" style="color: #062F59">Shopper</div></a>
						</div>
					  </li>
					  <li class="divider"></li>
					  <li class="media">
						<div class="media-body">
						  <a href="906030.html"><div class="media-annotation" style="color: #062F59">Modelo 90 60 30</div></a>
						</div>
					  </li>
					  <li class="divider"></li>
					  <li class="media">
						<div class="media-body">
						  <a href="bienvenida.html"><div class="media-annotation" style="color: #062F59">Bienvenida</div></a>
						</div>
					  </li>
					  <li class="divider"></li>
					  <li class="media">
						<div class="media-body">
						  <a href="tutoriales.html"><div class="media-annotation" style="color: #062F59">Tutoriales</div></a>
						</div>
					  </li>
					  <li class="divider"></li>
					  <li class="media">
						<div class="media-body">
						  <a href="biblioteca.html"><div class="media-annotation" style="color: #062F59">Biblioteca</div></a>
						</div>
					  </li>
					  <li class="divider"></li>
					  <li class="media">
						<div class="media-body">
						  <div class="media-annotation" style="color: #999">Reportes</div>
						</div>
					  </li>
					</ul>
				  </div>
				</div>
			  </li>
			  <!--Menú-->
			  <li><a href="#" onclick="javascript: close_session(); return false;">Cerrar Sesión</a></li>
			</ul>
		  </div><!--/.nav-collapse -->
		</div>
	  </nav>